body{
	font-family: 'Source Sans Pro', sans-serif;

	background: #f9f9f9;
}
#header{
	margin-bottom: 20px;
	background: url(../img/bgHeader.jpg) top center;
	background-size: cover;
	border-bottom: 5px solid #c1e07a;
	padding-bottom: 10px;
}
#language{
	float: right;
	margin-top: -1px;
	position: absolute;
	right: 16px;
}
#language ul li{
	list-style: none;
	display: inline-block;
}
#language a{
	background:#799735;
	color: #fff;
	font-size: 12px;
	padding: 5px;
}
#language a:hover{
	background: #86b986;
	text-decoration: none;
}
#footer{
	background-color: #799735;
	color: #fff;
	font-size: 14px;
}
#footer a{
	color: #fff;
}
#footer a:hover{
	color: #ddd;
}
#footer img{
	max-width: 500px;
}
#logoSimilar{
	padding: 20px; 
	text-align: center;
}
#logoSimilar img{
	max-width: 200px;
}
#logo2{
	padding: 20px;
}
#logo2 img{
	max-width: 150px;
	max-height: 100px;
	margin-right: 20px;
}
#headerParceiro{
	background: rgba(255,255,255,.6);
	border:1px solid #c1e07a;
	padding: 5px;
	border-bottom-width: 2px;
}
.box1{
	background: #fff;
	border-radius: 2px;
	padding: 30px;
	margin-bottom: 20px;
	border-bottom: 5px solid #c1e07a;
}
.box2{
	background: #ededed;
	border:1px solid #e4e4e4;
	padding: 10px;
	font-size: 14px;
	margin-top: 20px;
}
.titleArt{
	font-size: 20px;
	color: #30348c;
}
.titleArt a{
	color: #30348c;
}
.titleArt a:hover{
	color: #474bb2;
}
.titleBox2{
	font-weight: 900; 
	margin-top: 15px;
	color: #30348c;
	padding-bottom: 5px;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}
.btnBlueM{
	background:#30348d;
	color: #fff;
	padding: 5px 20px;
	font-size: 12px;
	border:0;
	border-radius: 3px;
}
.btnBlueM:hover{
	background:#464bbb;
	color: #fff;
	text-decoration: none;
}

/*select topo*/
.headerSearch{
	background: #fff;
	border: 1px solid #ddd;
	margin-top: 10px;
}
.btnBoxSearch{
	text-align: right;
	background: redç
}
.inputBoxSearch input{
	width: 100%; 
	height: 100%;
	border: 0px;
	padding: 10px;
	outline: none;

}
.btnBoxSearch button{
	background: #799735;
	color: #fff; border: 0;
	padding: 10px;
	height: 50px;
	width: 50px;
}
.btnBoxSearch button:hover{
	background: #8eab4d;
}
.btnBoxSearch button i{
	font-size: 30px;
}
.textBTSearch{
	display: none;
}
#buscaPorVoz{
	position: relative
}
#speakBtn:hover{
	color: #000;
}
#q{
	width: 100%;
	padding-left: 3em;
	padding-right: 4em;
}
.boxCheck{
	position: relative;
}
.inputCheck1{
	display: inline-block;
	width: 60px;
	position: absolute;
	top: 5px;
}
.labelCheck1{
	display: inline-block;
	max-width: 80%;
	position: relative;
	left: 25px;
	font-weight: 600;
	cursor: pointer;
}
.labelCheck1:hover{
	text-decoration: underline;
}
.labelCheck2:hover{
	text-decoration: none!important;
}
.inputCheck1 small{
	margin:-20px 0 0 7px;
	position: relative;
	top: -3px;
}
.labelCheck1 a{color: #333;
}
#btnFiltroD{position: sticky;
	top: 0;
	z-index: 99;
}
.btn-filter {
	margin-bottom: 16px;
}
.custom-embed-size {
	display: none;
}
.select-theme,
.filter-db {
	margin-bottom: 2em;
}
.select-theme .bootstrap-select,
.filter-db .bootstrap-select {
	margin: 1em auto 0;
    display: block;
}
.embed-button {
	text-align: center;
}
.db-tabs {
	margin-bottom: 1em;
}
.hide {
	display: none;
}
span.short-string {
    display: none;
}
span.show-all {
	color: #0000ff;
	cursor: pointer;
}
/******************** Breakpoints *******************/
@media (max-width: 991px){
	#logoSimilar img{
		width: 90%;
	}
	#headerParceiro h3{
		font-size: 22px;
	}
	#footer img{
		width: 80%;
		text-align: center;
	}
}
@media (max-width: 768px){
	#logoSimilar{
		margin-top: 30px;
		margin-bottom: 10px;
		padding: 0;
	}
	#logo2 img{
		height: 80px;
	}
	#logo2 h3{
		font-size: 20px;
	}
	#footer{
		padding: 20px; 
		text-align: center;
	}
	#footer img{
		width: 80%;
		text-align: center;
	}
	#language{
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
	}
	.btnBoxSearch button{
		padding: 10px;
		width: 100%;
	}
	.btnBoxSearch button i{
		font-size: 15px;
	}
	.textBTSearch{
		display: inline-block;
		font-weight: bold;
		padding-left: 10px;
	}
	#fieldSearch{
		padding-left: 30px;
	}
	#q{
		padding-left: 50px;
		width: 100%;
		padding-left: 1em;
		padding-right: 1em;
	}
	#btnFiltroD, .btnFilter {
		margin-bottom: 10px;
		width: 100%;
	}
}
/*coreçõe svg Internet Explorer Edge*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	img[src$=".svg"] {
		width: 100%;
	}
}